.main-body{
  background-color: rgb(104, 104, 108);
  height: 100vh;
  
}
.to-do-list-main{
  padding: 15px;
  background-color: bisque;
  width: 500px;
  height: 500px;
  border-radius: 8px;
}
.todo-task-input{
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
  justify-content: center;
}
#add-btn{
  width: 50px;
  height: 50px;
  color:black;
}
.tasks-list{
  width: 95%;
  
  margin: auto;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.task{
  
}
.task-btn{
  display: flex;
  column-gap: 10px;
}
